In [1]:
import sys
sys.executable

'/home/yiyichanmyaewinshein/notebooks/koekoetech/python_for_datascience/pythonForDataScience-env/bin/python3'

In [4]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Date and Time Data Types and Tools

In [12]:
from datetime import datetime
now = datetime.now()
now
now.year, now.month, now.day, now.hour, now.minute, now.second

(2020, 5, 7, 23, 35, 45)

In [21]:
## Finding difference between Time
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print('Total difference duration:', delta)
print('\nTotal difference in days :',delta.days)
print('Total difference in seconds :',delta.seconds)

Total difference duration: 926 days, 15:45:00

Total difference in days : 926
Total difference in seconds : 56700

In [29]:
from datetime import timedelta
start = datetime(2011, 1, 7)

#timedelta() performs in days
print('after adding 12 timedelta into start :',start + timedelta(12)) 

print('after subtracting double of 12 timedelta from start :',start - 2 * timedelta(12))

after adding 12 timedelta into start : 2011-01-19 00:00:00
after subtracting double of 12 timedelta from start : 2010-12-14 00:00:00

### Converting Between String and Datetime

use strftime() if datetime obj is wanted to transform into string format.

In [47]:
stamp = datetime(2011, 1, 3, 3, 30, 33)
str(stamp)
stamp.strftime('%Y-%m-%d %H:%M:%S')

'2011-01-03 03:30:33'

use strptime() of datatime module if a string is needed to datatime object.

In [39]:
#time strings into datetime objects
value = '2011-01-03'
print(datetime.strptime(value, '%Y-%m-%d'))

# list of time strings into datetime objects
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

2011-01-03 00:00:00

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [55]:
value = '2019-01-01 08:37:16.00000'
print(datetime.strptime(value[:-6], '%Y-%m-%d %H:%M:%S'))

2019-01-01 08:37:16

we can use parse of dateutil.parser module.

In [57]:
from dateutil.parser import parse
parse('2011-01-03 08:37:16.00000')

datetime.datetime(2011, 1, 3, 8, 37, 16)

In [58]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [60]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

## pandas with time series strings

In [62]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [63]:
idx = pd.to_datetime(datestrs + [None])
print(idx)
print(idx[2])
print(pd.isnull(idx))

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)
NaT
[False False  True]

## Time Series basic

In [67]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.092908
2011-01-05    0.281746
2011-01-07    0.769023
2011-01-08    1.246435
2011-01-10    1.007189
2011-01-12   -1.296221
dtype: float64

In [68]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [70]:
ts + ts[::2]

2011-01-02    0.185816
2011-01-05         NaN
2011-01-07    1.538045
2011-01-08         NaN
2011-01-10    2.014379
2011-01-12         NaN
dtype: float64

In [71]:
ts.index.dtype

dtype('<M8[ns]')

In [72]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [77]:
pd.date_range('1/1/2000', periods=10)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [76]:
pd.date_range(start = '1/1/2000 00:00:00', end= '1/1/2000 01:00:00', periods=10)

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:06:40',
               '2000-01-01 00:13:20', '2000-01-01 00:20:00',
               '2000-01-01 00:26:40', '2000-01-01 00:33:20',
               '2000-01-01 00:40:00', '2000-01-01 00:46:40',
               '2000-01-01 00:53:20', '2000-01-01 01:00:00'],
              dtype='datetime64[ns]', freq=None)

### Indexing, Selection, Subsetting

In [81]:
ts

2011-01-02    0.092908
2011-01-05    0.281746
2011-01-07    0.769023
2011-01-08    1.246435
2011-01-10    1.007189
2011-01-12   -1.296221
dtype: float64

In [79]:
stamp = ts.index[2]
ts[stamp]

0.7690225676118387

This is fantastic. we can call data time object indexes in `different formats`.

In [80]:
print(ts['1/10/2011']) # month day year
print(ts['20110110']) # year month day

1.0071893575830049
1.0071893575830049

In [90]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
print('Periods 1000 will take 1000 days. It is almost three years. xD\n')
print(longer_ts[:5])
print(longer_ts[-5:])

Periods 1000 will take 1000 days. It is almost three years. xD

2000-01-01    0.310738
2000-01-02    0.151633
2000-01-03    1.386715
2000-01-04   -0.751649
2000-01-05    0.847988
Freq: D, dtype: float64
2002-09-22   -0.568729
2002-09-23    1.615517
2002-09-24   -0.742938
2002-09-25    0.479171
2002-09-26   -0.441436
Freq: D, dtype: float64

In [89]:
print('Let\'s see if we can trieve for the year 2001.\n-----')
print(longer_ts['2001'])

Let's see if we can trieve for the year 2001.
-----
2001-01-01   -0.802018
2001-01-02   -1.316896
2001-01-03    0.860172
2001-01-04    1.100198
2001-01-05    1.027347
                ...
2001-12-27   -0.991485
2001-12-28   -0.597502
2001-12-29   -0.882134
2001-12-30    0.713792
2001-12-31    0.366165
Freq: D, Length: 365, dtype: float64

In [96]:
longer_ts['2001-05']

2001-05-01   -0.050152
2001-05-02    0.147416
2001-05-03   -1.069349
2001-05-04    0.532076
2001-05-05   -0.994699
                ...
2001-05-27    0.044207
2001-05-28    1.727284
2001-05-29   -1.031558
2001-05-30    0.038662
2001-05-31    0.052811
Freq: D, Length: 31, dtype: float64

indexing with `data time object`

In [97]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.769023
2011-01-08    1.246435
2011-01-10    1.007189
2011-01-12   -1.296221
dtype: float64

In [98]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.769023
2011-01-08    1.246435
2011-01-10    1.007189
dtype: float64